.ui-logger-panel {
	position: fixed;
	bottom: 5px;
	right: 5px;
	height: 100px;
	width: 150px;
	background-color: #111;
	color: yellow;
	overflow: scroll;
	overflow-x: scroll;
}
.ui-logger-message {
	display: block;
	font-family: monospace;
	font-size: 10px;
	border-bottom: 1px solid #333;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 500px;
}